@{
    ViewData["Title"] = "Home Page";
}

<div class="row header">
    <div class="col-md-12">
        <h3>Categorias</h3>
        <a href="/Category/CreateOrEdit" class="btn btn-primary">Novo Cadastro</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-rover">
            <tbody>
                <tr>
                    <td>
                        <a class="name">Categoria 1</a>
                    </td>
                    <td>
                        <a class="btn">Editar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>